nav{
    background-color : rgb(55,72,95);
}
body{
    margin : 0 ;
    padding : 0 ;
    border: 0; 
    background-color : rgb(41,43,53) !important ;
    font-family : Lato , Times ,serif;
}
html{
    scroll-behavior : smooth;
}
nav .nav-container {
    display :flex;
    justify-content: space-between;
}
 nav h3{
    color : rgb(255,255,255);
    letter-spacing : 2px;
    margin : 10px 30px 0 0;
    font-size :25px;

}
nav .logo {
    margin : 0 10px 0 0;
}
nav .menu-container ,.tech-container{
    display :flex;
    align-items : center; 
    padding : 20px;
}

nav .nav-link{
    color : rgb(216,218,221);
    text-decoration : none;
    padding : 8px 12px ; 
    border-radius : 6px;
    
}
nav .nav-links{
    display : flex;
    flex-direction : row ;
}
nav .hamburger-list-container .nav-link{
    display : flex;
    flex-direction : column;
}
nav .nav-link:hover {
    background-color : rgb(57,67,83);
}
nav .hamburger{
    display :none; 
    background-color: transparent;
    border : none;
    color : rgb(255,255,255);
    font-size : 30px;
    margin : 0 5px 0 0 ;
}
.hidden{
    display : none !important;
}
.hamburger-list-container{
    display :none;
}
@media (max-width : 1000px) {
    nav h3 {
        display : none ;

    }
}
@media (max-width : 600px){
    nav .hamburger {
        display : block; 
        background-color: transparent;
        border : none;
        color : rgb(255,255,255);
        font-size : 30px;
        margin : 0 5px 0 0 ;
    }
    nav .nav-container .menu-container .nav-links .nav-link {
        display   : none !important ;
    }
    .hamburger-list-container{
        display :block;
    }
}
section{
    color : rgb(216,216,216);
}
section a{
    text-decoration: none;
    color : rgb(255,255,255);
}
h3{
    font-size : 30px;
    margin : 0;

}
section h1{
    font-size: 70px;
    margin : 0;
}
p{
    font-size : 18px;
}
footer{
    background-color: rgb(3,114,144);
    display : flex;
    justify-content : flex-end;
    padding : 50px;
}
footer a{
    text-decoration : none;
    color : rgb(255,255,255);
}