body{
    display : flex;
    justify-content: center;
    align-items : center;
    height: 100vh;
}
form{
    background-color : rgb(239, 237, 237);
    width :400px;
    padding : 20px;
    border-radius:5px;
    display : flex;
    flex-direction : column; 
}
label{
    margin:5px 0;
}
label,input{
    font-size : 10px;
    font-family : 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
input[type = text] ,input[type = email] ,input[type = submit]{
    padding : 5px; 
}
fieldset{
    border : none;
}
input[type = submit ]{
    background-color: crimson;
    border-radius : 5px;
    color : white;
    border : none;
}
input[type = submit]:hover{
    background-color: rgb(175, 25, 55);
}
input[type = text]:focus , input[type = email].focus{
    background-color: rgb(235, 131, 152);
}
input[type = text] ,input[type = email]{
    outline : none;
    border: 1px solid rgb(217, 215, 215);
    padding  : 5px;
    border-radius : 5px;
}